openapi: 3.0.3
info:
  title: SIPCalc MF India API
  description: |
    A comprehensive API for Indian Mutual Fund calculations and analysis. This API provides real-time NAV data, 
    SIP return calculations, and advanced analytics using multi-timeframe analysis.

    ## Features
    - Real-time mutual fund scheme information
    - SIP and Lumpsum investment calculations
    - Advanced performance analytics with multi-timeframe predictions
    - Multi-scheme comparison
    - Historical NAV analysis

    ## Future Date Predictions
    The API supports future date predictions for mutual fund returns using advanced multi-timeframe analysis.
    When you provide an end_date that is in the future:
    - The API analyzes historical NAV data across multiple timeframes (7d, 15d, 30d, 90d)
    - Incorporates CAGR for long-term projections
    - Considers market cycles and historical trends
    - Provides risk-adjusted predictions with dynamic bounds
    - Uses volatility-based adjustments for realistic projections

    ### Prediction Features
    - Multi-timeframe analysis for comprehensive trend detection
    - Adapts to market volatility
    - Implements market cycle awareness
    - Uses dynamic risk adjustment
    - Provides smooth transitions between timeframes

    ## Authentication
    This API requires RapidAPI key for authentication. You need to pass your RapidAPI key in the `x-rapidapi-key` header.
  version: 1.0.0
  contact:
    name: API Support
    email: rishabkoul2001@gmail.com

servers:
  - url: https://sipcalc-mf-india-api.p.rapidapi.com
    description: Production server

components:
  securitySchemes:
    RapidAPI:
      type: apiKey
      in: header
      name: x-rapidapi-key
      description: Your RapidAPI key for authentication

  schemas:
    InvestmentFrequency:
      type: string
      enum: [daily, weekly, monthly, yearly, lumpsum]

    CalculateReturnsRequest:
      type: object
      required:
        - scheme_code
        - start_date
        - end_date
        - amount
        - frequency
      properties:
        scheme_code:
          type: string
          example: "119598"
        start_date:
          type: string
          format: date
          example: "2023-01-01"
        end_date:
          type: string
          format: date
          example: "2023-12-31"
        amount:
          type: number
          format: float
          example: 5000
        frequency:
          $ref: "#/components/schemas/InvestmentFrequency"

    CalculateReturnsResponse:
      type: object
      properties:
        scheme_name:
          type: string
          example: "Aditya Birla Sun Life Digital India Fund - Growth"
        total_investment:
          type: number
          format: float
          example: 60000.00
        current_value:
          type: number
          format: float
          example: 65000.00
        absolute_returns:
          type: number
          format: float
          example: 5000.00
        percentage_returns:
          type: number
          format: float
          example: 8.33
        number_of_installments:
          type: integer
          example: 12
        average_nav:
          type: number
          format: float
          example: 45.67
        highest_nav:
          type: number
          format: float
          example: 52.10
        lowest_nav:
          type: number
          format: float
          example: 38.25
        is_predicted:
          type: boolean
          example: false
        day_wise_nav:
          type: array
          items:
            $ref: "#/components/schemas/DayWiseNAVData"
          description: Day-wise NAV and investment value data (only present if show_day_wise_nav=true)

    SchemeDetails:
      type: object
      properties:
        scheme_code:
          type: string
          example: "119598"
        scheme_name:
          type: string
          example: "Aditya Birla Sun Life Digital India Fund - Growth"
        scheme_category:
          type: string
          example: "Equity Scheme - Sectoral/Thematic"
        scheme_type:
          type: string
          example: "Open Ended"
        fund_house:
          type: string
          example: "Aditya Birla Sun Life Mutual Fund"
        scheme_start_date:
          type: string
          example: "2000-01-01"
        scheme_nav:
          type: number
          format: float
          example: 245.67
        scheme_nav_date:
          type: string
          example: "2024-03-28"

    NAVHistory:
      type: object
      properties:
        date:
          type: string
          format: date
          example: "2024-03-28"
        nav:
          type: number
          format: float
          example: 245.67

    NAVAnalysis:
      type: object
      properties:
        current_nav:
          type: number
          format: float
          example: 245.67
        nav_date:
          type: string
          format: date
          example: "2024-03-28"
        change_1_day:
          type: number
          format: float
          example: 0.5
        change_1_week:
          type: number
          format: float
          example: 1.2
        change_1_month:
          type: number
          format: float
          example: 3.5
        change_3_months:
          type: number
          format: float
          example: 8.7
        change_6_months:
          type: number
          format: float
          example: 15.4
        change_1_year:
          type: number
          format: float
          example: 25.8
        highest_nav:
          type: number
          format: float
          example: 250.45
        highest_nav_date:
          type: string
          format: date
          example: "2024-03-15"
        lowest_nav:
          type: number
          format: float
          example: 180.23
        lowest_nav_date:
          type: string
          format: date
          example: "2023-03-28"
        average_nav_30_days:
          type: number
          format: float
          example: 240.56
        average_nav_90_days:
          type: number
          format: float
          example: 235.78
        volatility_30_days:
          type: number
          format: float
          example: 12.5

    ComparisonResult:
      type: object
      properties:
        scheme_code:
          type: string
          example: "119598"
        scheme_name:
          type: string
          example: "Aditya Birla Sun Life Digital India Fund - Growth"
        total_returns:
          type: number
          format: float
          example: 25.8
        annualized_returns:
          type: number
          format: float
          example: 15.4
        volatility:
          type: number
          format: float
          example: 12.5
        sharpe_ratio:
          type: number
          format: float
          example: 1.8
        max_drawdown:
          type: number
          format: float
          example: -15.6

    DayWiseNAVData:
      type: object
      properties:
        date:
          type: string
          format: date
          example: "2024-03-28"
        nav:
          type: number
          format: float
          example: 245.67
        current_value:
          type: number
          format: float
          example: 5250.45
        units_till_date:
          type: number
          format: float
          example: 21.3745
        is_predicted:
          type: boolean
          example: false
          description: Indicates if this day's NAV is predicted or actual

paths:
  /schemes:
    get:
      summary: Get All Mutual Fund Schemes
      description: Retrieve all mutual fund schemes with optional search functionality
      security:
        - RapidAPI: []
      parameters:
        - name: search
          in: query
          description: Search term to filter schemes by name
          required: false
          schema:
            type: string
            example: "aditya"
      responses:
        "200":
          description: List of mutual fund schemes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SchemeDetails"
        "401":
          description: Unauthorized - Invalid or missing API key
        "403":
          description: Forbidden - API key doesn't have access
        "404":
          description: No schemes found

  /calculate-returns:
    post:
      summary: Calculate SIP or Lumpsum Returns with Future Predictions and Day-wise Tracking
      description: |
        Calculate returns for SIP or lumpsum investments in mutual funds. This endpoint supports both historical calculations, 
        future predictions using multi-timeframe analysis, and optional day-wise NAV tracking.

        ### Future Date Predictions
        When end_date is set to a future date:
        - The API uses multi-timeframe analysis for NAV predictions
        - Predictions combine short-term momentum and long-term trends
        - Results include a flag indicating predicted values
        - Prediction accuracy depends on historical data availability
        - Risk-adjusted estimates prevent unrealistic projections

        ### Day-wise NAV Tracking
        When show_day_wise_nav=true:
        - Returns NAV values for each day in the investment period
        - Shows investment value progression day by day
        - Tracks accumulated units over time
        - Indicates which values are predicted vs actual
        - Perfect for visualizing investment growth
        - Useful for detailed analysis and charting

        ### Performance Considerations
        Using show_day_wise_nav=true can significantly impact response times:
        - Each day in the date range requires individual calculations
        - Future dates need additional prediction processing
        - Large date ranges (several years) will increase response time
        - Memory usage scales with the date range size
        - Database load increases with larger ranges

        ### Best Practices for Day-wise Tracking
        - Use for shorter time periods (< 1 year) for optimal performance
        - Consider chunking large date ranges into smaller requests
        - For visualization needs, consider limiting the date range
        - For long-term analysis, use the basic response format
        - Monitor response times when dealing with large date ranges
        - Cache results when possible for frequently accessed ranges

        ### Prediction Methodology
        The multi-timeframe model uses:
        - Multiple timeframe analysis (7d, 15d, 30d, 90d)
        - CAGR-based long-term projections
        - Market cycle awareness
        - Dynamic risk adjustment
        - Volatility-based bounds

        ### Best Practices
        - For most accurate predictions, provide at least 1 year of historical data
        - Future predictions work best within a 6-month horizon
        - Consider market conditions when interpreting future predictions
        - Use is_predicted flag to identify predicted values
        - Day-wise tracking might increase response time for long date ranges
      parameters:
        - name: show_day_wise_nav
          in: query
          description: Whether to include day-wise NAV and investment value tracking
          required: false
          schema:
            type: boolean
            default: false
      security:
        - RapidAPI: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalculateReturnsRequest"
            example:
              scheme_code: "119598"
              start_date: "2023-01-01"
              end_date: "2024-12-31"
              amount: 5000
              frequency: "monthly"
      responses:
        "200":
          description: Investment returns calculation with optional day-wise tracking
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/CalculateReturnsResponse"
                  - type: object
                    properties:
                      is_predicted:
                        type: boolean
                        description: Indicates if future predictions were used
                        example: true
                      prediction_confidence:
                        type: number
                        format: float
                        description: Confidence score of the prediction (0-1)
                        example: 0.85
                      prediction_methodology:
                        type: string
                        description: Method used for prediction
                        example: "Multi-timeframe Analysis (7d, 15d, 30d, 90d)"
              examples:
                withDayWiseNav:
                  summary: Response with day-wise NAV tracking
                  value:
                    scheme_name: "Aditya Birla Sun Life Digital India Fund - Growth"
                    total_investment: 60000.00
                    current_value: 65000.00
                    absolute_returns: 5000.00
                    percentage_returns: 8.33
                    is_predicted: true
                    number_of_installments: 12
                    average_nav: 45.67
                    highest_nav: 52.10
                    lowest_nav: 38.25
                    day_wise_nav:
                      - date: "2023-01-01"
                        nav: 45.67
                        current_value: 5000.00
                        units_till_date: 109.4812
                        is_predicted: false
                      - date: "2024-12-31"
                        nav: 52.10
                        current_value: 65000.00
                        units_till_date: 1247.6046
                        is_predicted: true
        "400":
          description: Invalid request parameters
        "401":
          description: Unauthorized - Invalid or missing API key
        "403":
          description: Forbidden - API key doesn't have access
        "404":
          description: Scheme not found or insufficient data for prediction

  /scheme/{scheme_code}:
    get:
      summary: Get Scheme Details
      description: Get detailed information about a specific mutual fund scheme
      parameters:
        - name: scheme_code
          in: path
          required: true
          schema:
            type: string
          example: "119598"
      responses:
        "200":
          description: Scheme details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemeDetails"
        "404":
          description: Scheme not found
      security:
        - RapidAPI: []

  /scheme/{scheme_code}/nav-history:
    get:
      summary: Get NAV History
      description: Get historical NAV data for a specific period
      parameters:
        - name: scheme_code
          in: path
          required: true
          schema:
            type: string
          example: "119598"
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          example: "2023-01-01"
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          example: "2023-12-31"
      responses:
        "200":
          description: Historical NAV data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NAVHistory"
        "404":
          description: Scheme not found or no data available
      security:
        - RapidAPI: []

  /scheme/{scheme_code}/analysis:
    get:
      summary: Get NAV Analysis
      description: Get detailed NAV analysis including performance metrics
      parameters:
        - name: scheme_code
          in: path
          required: true
          schema:
            type: string
          example: "119598"
      responses:
        "200":
          description: NAV analysis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NAVAnalysis"
        "404":
          description: Scheme not found
      security:
        - RapidAPI: []

  /compare-schemes:
    get:
      summary: Compare Multiple Schemes
      description: Compare performance metrics of multiple schemes
      parameters:
        - name: scheme_codes
          in: query
          required: true
          description: Comma-separated scheme codes
          schema:
            type: string
          example: "119598,120503,120175"
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          example: "2023-01-01"
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          example: "2023-12-31"
      responses:
        "200":
          description: Comparison results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ComparisonResult"
        "400":
          description: Invalid input parameters
        "404":
          description: One or more schemes not found
      security:
        - RapidAPI: []
